
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Poppins", sans-serif;
  background: #f4f4f4; 
  color: #333;        
  line-height: 1.5;
}


.header {
  background: #2c3e50; 
  color: #fff;        
  padding: 1rem;
  text-align: center;
}

.header h1 {
  margin: 0;
  font-weight: 500;
}


.container {
  max-width: 900px;
  margin: 2rem auto;
  padding: 1rem;
  background: #fff;     
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05); 
}

.intro {
  margin-bottom: 1.5rem;
}

.intro p {
  margin-bottom: 0.75rem;
}


.features h2 {
  margin-bottom: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #2c3e50; 
}

.features ul {
  list-style-type: disc;
  margin-left: 1.5rem;
  margin-bottom: 2rem;
}

.features li {
  margin-bottom: 0.5rem;
}


.text-properties {
  margin-bottom: 2rem;
}

.text-properties h2 {
  font-weight: 600;
  margin-bottom: 1rem;
  color: #2c3e50;
}

.text-properties article {
  margin-bottom: 1.5rem;
}

.text-properties h3 {
  font-size: 1.1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.text-properties pre {
  background: #f0f0f0;
  padding: 1rem;
  overflow-x: auto;
  border-radius: 4px;
  margin-bottom: 0.5rem;
}

.text-properties code {
  font-family: Consolas, monospace;
  font-size: 0.9rem;
}
 
#ejemplo1 {
  color: blue;
  font-weight: 500;
}

#ejemplo2 {
  color: #16a085;
  font-size: 36px;
}

#ejemplo3 {
  color: #16a085;
  font-family: Arial, sans-serif;  
}

#ejemplo4 {
  color: #16a085;
  font-style: italic;
}

#ejemplo5 {
  color: #16a085;
  font-weight: bold;
}

#ejemplo6 {
  color: #16a085;
  line-height: 1.6;
}


#ejemplo7 {
  color: #16a085;
  text-transform: uppercase;
}


#ejemplo8 {
  color: #16a085;
  text-align: center;
}


#ejemplo9 {
  color: #16a085;
  letter-spacing: 2px; 
}


#ejemplo10 {
  color: #16a085;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}


#ejemplo11 {
  color: #16a085;
  text-decoration: underline;
}


button {
  background-color: #1abc9c; /* Color de acento (turquesa) */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: 0.3s;
  margin-top: 0.5rem;
}

button:hover {
  background-color: #16a085; /* Un poco más oscuro al pasar el mouse */
}


.footer {
  text-align: center;
  padding: 1rem;
  background: #2c3e50;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 2rem;
  border-radius: 0 0 8px 8px;
}
